{% extends 'base.html' %}
{% block title %} Agregar Instructor {% endblock %}


{% block titulo %}
    AGREGAR INSTRUCTOR
{% endblock %}

{% block content %}



<div class="form-contenedor">

    <form id="form-ins" action="/agregar" method="POST" enctype="multipart/form-data">

        <div id="form-ins-contenedor">

            <div class="form-dato">
                {% with errores = get_flashed_messages() %}
                    {% if errores %}
                        {% for error in errores %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>

        <div class="form-dato">
            <label for="">Documento</label>
            <input type="number" class="form-input" name="documento">
        </div>

        <div class="form-dato">
            <label for="">Nombre </label>
            <input type="	text" class="form-input" name="nombre">
        </div>

        <div class="form-dato">
            <label for="">Apellido </label>
            <input type="text" class="form-input" name="apellido">
        </div>
        <div class="form-dato">
            <label for="">Telefono</label>
            <input type="number" class="form-input" name="telefono">
        </div>
        <div class="form-dato">
            <label for="">Correo</label>
            <input type="text" class="form-input" name="correo">
        </div>
        <div class="form-dato">
            <label for="foto">Foto<input type="text" class="form-input" name="correo" disabled></label>
            <input type="file" id="foto" accept="image/*" class="form-input" name="foto">
        </div>
        <div class="form-dato">
            <label for=""> Especialidad </label>

        <select class="form-input" name="especialidad">
            <option value="Inglés">Inglés</option>
            <option value="Comunicación">Comunicación</option>
            <option value="Fisica">Fisica</option>
            <option value="Matematicas">Matematicas</option>
            <option value="Emprendimiento">Emprendimiento</option>
            <option value="Programación">Programación</option>
        </select>
        </div>

        <input type="submit" class="btn" value="Enviar">

    </div>

    </form>

</div>

{% endblock %}