
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
    
    <header>
        <nav>

            <div class="logo-contenedor">
                <img src="{{ url_for('static', filename='img/logo.png') }}" alt="">
            </div>
                <ul>
                    <li><a href="">INSTRUCTORES</a></li>
                    <li><a href="">INICIAR SESIÓN</a></li>
                    <li><a href="">REGISTRARSE</a></li>
                    
                </ul>
        </nav>
    </header>

    <div class="titulo" >
        <h2>
            {% block titulo %}
            {% endblock %}
        </h2>
        <hr id="titulo-linea">
    
    
    </div>
    
    {% block content %}
    {% endblock %}

</body>
</html>